@inherits LayoutComponentBase
@inject NavigationManager NavManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Bislerium Cafe
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">

        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private GlobalState _globalState = new();

    protected override void OnInitialized()
    {
        UsersService.SeedUsers();
    }

    private void LogoutHandler()
    {
        _globalState.CurrentUser = null;
        NavManager.NavigateTo("/login");
    }
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}


@* 
<div class="page">
    @* @if (_globalState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu Username="@_globalState.CurrentUser.Username" UserRole="@_globalState.CurrentUser.Role" LogoutHandler="LogoutHandler" />
        </div>
    }
    <NavMenu/>

    <main>
        <article class="content px-4">
            <CascadingValue Value="@_globalState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>


@code {
    private GlobalState _globalState = new();

    protected override void OnInitialized()
    {
        UsersService.SeedUsers();
    }

    private void LogoutHandler()
    {
        _globalState.CurrentUser = null;
        NavManager.NavigateTo("/login");
    }
}
 *@